/* font-family: 'Open Sans', sans-serif; */

body{
	font-size: 16px;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #2e64a1;
	padding: 1em 0; 
}


header h1{
	color: white; /**/
	font-size: 2.5em;
	font-style: italic;
	font-weight: 100;
	display: inline-block;
	position: relative;
	bottom: 0.8em;
	margin-left: 0.3em;
}

nav{
	background-color: #6da9ed;
	margin-bottom: 2em;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block;
	width: 20%;
}

nav ul li a{
	color:white;
	text-align: center;
	text-decoration: none;
	padding: 0.2em 0.4em;
	display: block;
}

nav ul li a:hover{
	background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo{
    background-color: #4c76a5; 
}

footer{
	background-color: #ccc;
	color: #333;
	font-size: 0.7em;
	font-style: italic;
	text-align: center;
	padding: 3em 0;
	margin-top:2em;
	clear: both;
}

.holder{
	width: 960px;
	margin: 0 auto;
}

h2{
	font-weight: 400;
	color: #2e64a1;
	margin: 0 0 1em;
}

.left{
	float: left;
}

.right{
	float: right;
}